
<p>Post Title: <%= @post.title %></p><br>
<p>Post Title: <%= @post.content %></p><br>
<p>Post Category: <% @post.categories.each do |x| %>
    <%= x.name %>
    <% end %></p><br>
<% @post.comments.each do |x| %>

    <%= "#{x.user.username} says: #{x.content}" %>
    <% end %><br>

<% @post.users.uniq.each do |x| %>
    <%= link_to x.username, user_path(x) %>
    <% end %><br>


<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.label :comment_content %>
    <%= f.text_field :content %><br>
  
    <%= f.collection_select :user_id, User.all, :id, :username %><br>

    <%= f.fields_for :user, User.new do |users| %>
        <%= users.label :username %>
        <%= users.text_field :username %>
      <% end %>

    <%= f.submit %>
  <% end %> 



  

          


